*{
    background: #051D3B;     
}

.container{
    margin: 2% 3%;
}

.cabecalho__nav{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}


.cabecalho__nav_pesquisa{
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);    
    border: none;   
}

.cabecalho__nav_pesquisa::placeholder {

    color: rgba(255, 255, 255, 0.64);    
    font-size: 1em;
    font-family: 'Inter', sans-serif;
}

#menu__botao{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    display: none;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: white;
    /* display: none; */
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.menu{
    
    position: absolute;
    height: 18px;
    left: 32px;
    top: 128px;
}


.titulo_menu{
    
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.75em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;    
    line-height: 18px;
    letter-spacing: 0.4em;    
}

.itens__lista {
    display: flex;    
    align-items: center;
}

.img__editor{
  
   margin-right: 16px;
   margin-top: 16px;      
}

.img__comunidade{
    
   margin-right: 16px;
   margin-top: 16px;
   background: rgba(80, 129, 251, 0.16); 
   border-radius: 16px;
}

 .editor_texto {   
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-top: 16px; 
} 

.comunidade {
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.56);
}





@media (max-width: 768px) {

    .cabecalho__nav{
        width: 100%;
    }
    .cabecalho__nav_foto{
        display: none;
    }
    
    .cabecalho__nav_pesquisa{
        width: 431px;
    }

    #menu__botao{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;       
        
    }
       
    .menu{
        display: none;
    }

    
}


@media (max-width: 375px){

}