.caixa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 316px;
    top: 128px;
}
.caixa__grande{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    /* padding: 32px; */
    position: absolute;
    width: 480px;
    height: 288px;
    background: #6BD1FF;
    border-radius: 8px;
}

.area{
    position:absolute;
    left: 24px;
    top: 14px;
    width: 432px;
    height: 260px;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    background-image: url("mac_buttons.svg");
    background-repeat: no-repeat;
    
}

.preview{
    display: block;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    width: 400px;
    height: 220px;
    left: 15px;
    top: 20px;
    background: transparent;
    border: none;
    margin: 10px 0px;
    white-space: pre-wrap;
    overflow: auto;
    box-sizing: border-box;
}

.titulo__projeto{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 83%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.3125em;
    margin: 8px 0px;
}

.descricao__projeto{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 84%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin: 8px 0px;
}

.icones_interacao{
    display: flex;
    width: 432px;
    height: 70px;
    position: relative;
    top: 88%;
    left: 1%;
    opacity: 0;
}

.icones_interacao:hover{
    /* display: flex;
    width: 432px;
    height: 70px;
    position: relative;
    top: 88%;
    left: 1%; */
    opacity: 1;
   
}

.interatividade{
    display: flex;
    position: relative;
    top: 15px;
    right: 16px;
    width: 216px;
    height: 50px;
    left: 17px;
}

.interatividade__numeros{

    margin-right: 8%;
    color: white;
}

.icone{
    margin-right: 5px;
    width: 17px;
    color: white;
    
}

#heart{
    color: white;
}

.foto{
    position: absolute;
    left: 60%;
    top: 5px;
    width: 216px;
    height: 40px;
}


.caixa_2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 820px;
    top: 128px;
}

.caixa__grande2{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    /* padding: 32px; */
    position: absolute;
    width: 480px;
    height: 288px;
    background: #6B83FF;
    border-radius: 8px;
}


.caixa_3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 316px;
    top: 628px;
}

.caixa__grande3{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    /* padding: 32px; */
    position: absolute;
    width: 480px;
    height: 288px;
    background: #EBDF93;
    border-radius: 8px;
}

.caixa_4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 820px;
    top: 628px;
}

.caixa__grande4{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    /* padding: 32px; */
    position: absolute;
    width: 480px;
    height: 288px;
    background: #F25B07;
    border-radius: 8px;
}


@media (max-width: 768px) {

    .caixa{
        width: 704px;
        height: 518px;
        left: 10px;
    }
    
    .caixa__grande{
        left: 10px;
        width: 704px;
        height: 342px;
    }

    .area{
        left: 24px;
        top: 27px;
        width: 656px;
        height: 294px;
    }

    .preview{
        left: 28px;
        top: 27px;
        width: 600px;
        height: 250px;
    }

    .titulo__projeto{
        top: 70%;
    }

    .descricao__projeto{
        top: 73%;
    }

    .icones_interacao{
        top: 75%;
        left: 2%;
    }


    .caixa_2{
        display: block;

        width: 704px;
        height: 518px;
        left: 10px;
        top: 660px;

    }
    
    .caixa__grande2{
        left: 10px;
        width: 704px;
        height: 342px;
    }

    
    .caixa_3{
        display: block;

        width: 704px;
        height: 518px;
        left: 10px;
        top: 1180px;

    }
    
    .caixa__grande3{
        left: 10px;
        width: 704px;
        height: 342px;
    }
    
    .caixa_4{
        display: block;

        width: 704px;
        height: 518px;
        left: 10px;
        top: 1690px;

    }
    
    .caixa__grande4{
        left: 10px;
        width: 704px;
        height: 342px;
    }

}


@media (max-width: 375px) {

    .caixa{
        width: 343px;
        height: 578px;
        left: 10px;
    }
    
    .caixa__grande{
        left: 5px;
        width: 343px;
        height: 402px;
    }

    .area{
        /* left: 36px; */
        top: 27px;
        width: 295px;
        height: 354px;
    }

    .preview{
        left: 28px;
        top: 27px;
        width: 250px;
        height: 300px;
    }

    .titulo__projeto{
        top: 73%;
    }

    .descricao__projeto{
        top: 75%;
    }

    .icones_interacao{
        width: 295px;
        top: 77%;
        left: 2%;
    }

    .caixa_2{
        width: 343px;
        height: 578px;
        left: 10px;
        top: 730px;

    }
    
    .caixa__grande2{
        left: 5px;
        width: 343px;
        height: 402px;
    }

    .area__menor2{
        left: 36px;
        top: 27px;
        width: 295px;
        height: 354px;
    }

    .caixa_3{
        width: 343px;
        height: 578px;
        left: 10px;
        top: 1325px;

    }
    
    .caixa__grande3{
        left: 5px;
        width: 343px;
       height: 402px;
    }

    .area__menor3{
        left: 36px;
        top: 27px;
        width: 295px;
        height: 354px;
    }

    .caixa_4{
        width: 343px;
        height: 578px;
        left: 10px;
        top: 1920px;

    }
    
    .caixa__grande4{
        left: 10px;
        width: 343px;
        height: 402px;
    }

    .area__menor4{
        left: 36px;
        top: 27px;
        width: 295px;
        height: 354px;
    }
   
}