.caixa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 316px;
    top: 128px;
}

#area__maior{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;
    width: 480px;
    height: 288px;
    background:  #9AFF6B;
    border-radius: 8px;
    resize: none;
}

.area__menor{
    position:relative;
    left: 26px;
    top: 17px;
    width: 432px;
    height: 260px;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border: none;
    color: white;   
}

 .img__botoes{
    border-radius: 8px;
    background: #141414;
} 

.codigo{
    background: #141414; 
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1em;    
}

.titulo__projeto{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 17.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.3125em;
    margin: 8px 0px;
}

.descricao__projeto{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 19.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin: 8px 0px;
}

.caixa_2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 820px;
    top: 128px;
}


#area__maior2{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;
    width: 480px;
    height: 288px;
    background:  #6B83FF;
    border-radius: 8px;
    resize: none;
}

.area__menor2{
    position:relative;
    left: 29px;
    top: 17px;
    width: 432px;
    height: 260px;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border: none;
    color: white;   
}

 .img__botoes2{
    border-radius: 8px;
    background: #141414;
} 

.codigo2{
    background: #141414; 
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1em;    
}

.titulo__projeto2{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 17.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.3125em;
    margin: 8px 0px;
}

.descricao__projeto2{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 19.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin: 8px 0px;
}

.caixa_3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 316px;
    top: 628px;
}


#area__maior3{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;
    width: 480px;
    height: 288px;
    background:  #EBDF93;
    border-radius: 8px;
    resize: none;
}

.area__menor3{
    position:relative;
    left: 29px;
    top: 17px;
    width: 432px;
    height: 260px;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border: none;
    color: white;   
}

 .img__botoes3{
    border-radius: 8px;
    background: #141414;
} 

.codigo3{
    background: #141414; 
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1em;    
}

.titulo__projeto3{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 17.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.3125em;
    margin: 8px 0px;
}

.descricao__projeto3{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 19.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin: 8px 0px;
}

.caixa_4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute; 
    width: 480px;
    height: 400px;
    left: 820px;
    top: 628px;
}


#area__maior4{

    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    position: absolute;
    width: 480px;
    height: 288px;
    background:  #F25B07;
    border-radius: 8px;
    resize: none;
}

.area__menor4{
    position:relative;
    left: 29px;
    top: 17px;
    width: 432px;
    height: 260px;
    background: #141414;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border: none;
    color: white;   
}

 .img__botoes4{
    border-radius: 8px;
    background: #141414;
} 

.codigo4{
    background: #141414; 
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1em;    
}

.titulo__projeto4{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 17.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.3125em;
    margin: 8px 0px;
}

.descricao__projeto4{
    position: relative;
    left: 4.62%;
    right: 4.62%;
    top: 19.43%;
    bottom: 50%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin: 8px 0px;
}